.dropdawnCard{
    background-color: red !important;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dropdown-menu{
    border: 1px solid grey;
}